/* styles/global.css */
:root {
  --primary-color: #000;
  --highlight-color: #f00;
  --shadow-color: #008000;
  --font-family: "Courier", monospace;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  font-family: var(--font-family);
  background-image: url("/field.png");
  background-size: cover;
  background-position: center;
}
